/* ------------------- */
/* *** TEXT-GAME *** */
/* ------------------- */

/* Text Settings */ 
/* h1 */
.title-game {
    font-family: @font-heading;
    font-size: @h1-size;
}

.game-edition {
    font-family: @font-heading;
}

/* h2 */
.title-rules {
    margin-bottom: 15px;
}

/* strong */
.important {
    font-weight: 600;
}

.how-play {
    text-transform: uppercase;
}

.title-container {
    margin-right: 55px;
}

.score-container,
.best-container {
    position: relative;
    .flex(@direction:column);
    height: 90px;
    padding: 20px 25px;
    border-radius: 5px;
    margin-left: 30px;
    background-color: @color-bg-4;
    font-family: @font-monospace;
    color: @base-link-color;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;

    .title-score {
        margin-bottom: 5px;
    }

    .score {
        font-family: @font-heading;
        font-size: @h6-size;

        .score-addition {
            position: absolute;
            font-size: 2.5rem;
            color: #19DE9D;
            text-shadow: 1px 1px 2px #000;
            .animation(move-up 1s ease-in);
            .animation-fill-mode(@animation:both);
        }
    }
}

.game-msg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(195, 240, 255, 0.8);
    z-index: 100;
    text-align: center;

    .msg {
        font-size: @h3-size;
        font-weight: 600;
        margin-bottom: 100px;
    }

    &.looser {
        .flex(@direction:column);
        .justify-content;
        .align-items;

        .continue {
            display: none;
        }
    }

    &.winner {
        .flex(@direction:column);
        .justify-content;
        .align-items;

        .retry {
            display: none;
        }
    }
}

.second-title {
    width: 50%;
    line-height: 30px;
}

.new-game {
    margin-left: 78px;
}