/* ------------------- */
/* *** TILES-GAME *** */
/* ------------------- */

.tile-inner {
    width: 107px;
    height: 107px;
    background-color: @color-blue-1;
    border-radius: 3px;
    text-align: center;
    z-index: 10;
}