/* ------------------- */
/* *** TILES-GAME *** */
/* ------------------- */

.tile-inner {
    width: 107px;
    height: 107px;
    background-color: @color-blue-1;
    border-radius: 3px;
    text-align: center;
    z-index: 10;
}



.tile-inner {
    color: @color-bg-3;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}


.tile-new .tile-inner {
    .animation(appear 200ms ease 100ms);
    .animation-fill-mode(@animation:backwards);
}

.tile-merged .tile-inner {
    z-index: 20;
    .animation(pop 200ms ease 100ms);
    .animation-fill-mode(@animation:backwards);
}


/* Couleur des tiles en fonction de leur value */
.tile.tile-2 .tile-inner {
    background-color: @color-blue-1;

}
.tile.tile-4 .tile-inner {
    background-color: @color-blue-2;

}

.tile.tile-8 .tile-inner {
    background-color: @color-green-1;

}

.tile.tile-16 .tile-inner {
    background-color: @color-green-0;
}

.tile.tile-32 .tile-inner {
    background-color: @color-orange-1;
}

.tile.tile-64 .tile-inner {
    background-color: @color-orange-2;
}

.tile.tile-128 .tile-inner {
    background-color: @color-yellow-1;
    box-shadow: 0 0 30px 10px @rgba-yellow-1, inset 0 0 30px 10px rgba(255, 255, 255, .1);
}

.tile.tile-256 .tile-inner {
    background-color: @color-yellow-2;
    box-shadow: 0 0 30px 10px @rgba-yellow-2, inset 0 0 30px 10px rgba(255, 255, 255, .1);
}

.tile.tile-512 .tile-inner {
    background-color: @color-rouge-1;
    box-shadow: 0 0 30px 10px @rgba-rouge-1, inset 0 0 30px 10px rgba(255, 255, 255, .1);
}

.tile.tile-1024 .tile-inner {
    background-color: @color-gray-1;
    color: #D8D2C9;
}

.tile.tile-2048 .tile-inner {
    background-color: @color-gray-2;
    color: #D8D2C9;
}

/* tile-position */

//@iteration: 4;
//@test: ~'-';
//.tilePosition(@iteration) when (@iteration > 0) {
//    @x: 1;
//    @y: 1;
//    .tile-position-@{x}@{test}@{y} {
//        width: 107px;
//    }
//    .tilePosition(@iteration - 1);
//}
//
//.tilePosition(0) {};
//
//.tilePosition(4);